name: Swift Lint

on:
  push:
    branches: [ "master" ]
    tags: [ "*" ]

jobs:
  lint:
    runs-on: macos-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '6.1'

      # ----- Lint Step (using swift-format lint) -----
      - name: Lint with swift-format
        run: make lint
